<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <!--<img src="<%= "/user_images/#{@user.image_name}" %>">-->
        <img src="<%= "/category_images/#{@category.image_name}" %>">
        <!--<%= link_to(@user.name, "/users/#{@user.id}") %>-->
        <%= link_to(@category.name, "/category/#{@category.id}") %>
      </div>
      <p><%= @post.content %></p>
      <p><%= @post.numb %></p>
      <div class="post-time">
      <p><%=  @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>

      </div>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
      </div>
    </div>
  </div>
</div>